<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/assets/css/index.css">
  <link rel="stylesheet" href="/assets/css/nav.css">
  <link rel="stylesheet" href="/assets/css/home.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="background-color: #e3e7eb;">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/assets/img/dumbways.png" alt="Bootstrap" width="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/project">Add Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testimonial">Testimonial</a>
          </li>
        </ul>
        <a href="/contact">
          <button class="btn btn-outline-success" style="background-color: black; color: white;">Contact Me</button>
        </a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="container__profile">
      <h2>Hi WELCOME TO MY PROFILE!!</h2><br>
      <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur sodales
        ipsum. Etiam neque neque,
        blandit
        ac pretium vel, auctor at ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        curae; Phasellus a justo malesuada, accumsan ex nec, laoreet eros. Praesent maximus metus a eros rutrum
        tristique.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur enim in fringilla congue. Aliquam vitae
        enim in est cursus fermentum vitae at velit.</p><br>
      <div style="display: flex; gap: 10px;">
        <a href="#">
          <button type="button" class="style-btn">contact</button>
        </a><br>
        <a href="#" class="style-font-download">download CV
          <img src="/assets/img/download.png" alt="download" width="25px" height="25px" />
        </a>
      </div>
      <div class="container__icon-contact">
        <a href="https://t.me/sutanarief">
          <img src="/assets/img/telegram.png" alt="telegram" class="style-icon">
        </a>
        <a href="https://github.com/SutanArief1">
          <img src="/assets/img/github.png" alt="github" class="style-icon">
        </a>
        <a href="https://www.discord.com/users/395291034525106178">
          <img src="/assets/img/discord.png" alt="discord" class="style-icon">
        </a>
        <a href="https://www.instagram.com/sutan.arief">
          <img src="/assets/img/instagram.png" alt="instagram" class="style-icon">
        </a>
      </div>
    </div>
    <div class="container__ava">
      <img src="/assets/img/ava.jpg" />
      <h1 style="text-align: center; margin-top: 0; margin-bottom: 0;">Sutan Arief</h1>
      <p style="text-align: center;">Fullstack Developer</p>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>