.container {
  display: flex;
  background-color: white;
  margin: 100px;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.container__profile {
  margin: 50px;
  width: 80%
}

.container__ava {
  margin: 50px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 0px;
}

.container__icon-contact {
  display: flex;
  margin-top: 20px;
}

.style-font-download {
  text-decoration: none;
  color: black;
  font-size: large;
}

.style-icon {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.style-btn {
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 576px) {
  h2 {
    margin-bottom: 20px;
  }

  .container {
    flex-direction: column;
  }

  .container__profile P {
    margin-bottom: 10px;
  }


}