.list-project {
  display: flex;
  gap: 15px;
  width: 100%;
  flex-wrap: wrap;
}

.project-card {
  border: 1px solid black;
  width: calc(30% - 10px);
  border-radius: 6px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.project-card__img-thumbnail {
  height: 250px;
  width: 100%;
  border-radius: inherit;
}

.project-card__time-post {
  color: #918e8e;
  margin-bottom: 16px;
}

.project-card__desc {
  margin-bottom: 16px;
}

.project-card__list-category {
  display: flex;
  gap: 12px;
}

.project-card__list-category img {
  height: 30px;
  width: auto;
  margin-bottom: 16px;
}

.project-card__cta {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.project-card__cta a {
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 6px;
  padding: 4px;
}